body{
    border-style:solid;
    border-top-width: 2.1em;
    border-color:#fff176;
    margin:0;
    float:left;
}
h1{
    margin-top:-1.3em;
    color:rgb(0, 0, 0);
    text-align:center;
    font-family:sans-serif;
    font-size:x-large;
}
div.efemeride{
    border-style:solid;
    border-top-width: 2.1em;
    border-color:#fbc02d;
    margin:0.5em;
    margin-top:-0.1em;
    background-color:#ffeb3b;
    font-family:sans-serif;
    float:left;
    width:33em;
}
div.texto{
    border-style:solid;
    border-top-width:1.8em;
    border-color:rgb(253, 122, 0);
    margin:0.5em;
    margin-top:-0.4em;
    margin-bottom:1em;
    background-color:#f8d151;
    width: 15em;
    float:left;
}
p{
    margin-bottom:0.25em;
    margin-left: 0.25em;
}
h3{
    margin-top:-1.3em;
    color:white;
    margin-bottom:-0.6em;
}
h2{
    margin-top:-1.3em;
    color:brown;
    font-family:sans-serif;

}