body{
    background-color: rgb(152, 131, 156);
    font-family: sans-serif;
}
h2{
    color:white;
    background-color: rgb(120, 114, 139);
    padding-left:15px;
    margin-left:50px;
    margin-right: 50px;
}
p,ul.punto{
    padding-left:30px;
    padding-right: 30px;
    margin-left:75px;
    margin-right: 75px;
}
h1{
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}
hr{
    margin-left:50px;
    margin-right:50px;
}
footer{
    margin-left:70px;
    margin-right: 70px;
}