table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    border-width:5px;
    border-color:rgb(0, 224, 150)
}
th{
    height: 50px;
}
table{
    width:100%;
}
td{
    height:40px;
    text-align:center;
}
tr:hover{background-color: rgb(230, 126, 224);}