html{
    background-color: rgb(165, 187, 207);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(43, 50, 54);
    text-transform: uppercase;
}
#p01{
    background-color: rgb(146, 176, 202);
}
h2{
    text-decoration:underline;
    background-color: rgb(105, 130, 167);
    color:rgb(56, 62, 68)
}
#p02{
    background-color: white;
    text-align: right;
}
p{
    background-color:rgb(138, 162, 184);
}
h3{
    background-color:rgb(95, 123, 133);
    color:rgb(62, 69, 73)
}