html{
    background-color: rgb(190, 207, 245);
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-align: right;
}
#rojo{
    color: red;
    font-family:"Comic Sans MS";

}
h2{
    font-family: monospace;
    text-transform: uppercase;
}
#mayus{
    font-size: 150%;
}